@import '@fortawesome/fontawesome-free/css/all.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SECTION HEADER */

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}


nav {
  width: 100%;
  background-color: #292929;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 21px;
}

nav .nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav i {
  font-size: 30px;
}

nav a,
nav .logo-type {
  color: #fff;
  text-decoration: none;
  transition: .2s;
}

nav a:hover,
nav .logo-type:hover {
  transform: scale(1.1);
  font-size: 22;
  text-decoration: underline;
}

/* BTN-COMPONENT */

.btn-component {
  margin-top: 20px;
  padding: 13px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: .2s;
}

.btn-component:hover {
  background-color: #393939;
  transform: scale(1.01);
}

.logo-type {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

/* SIDEBAR-MENU */
.container-toggle {
  display: flex;
}

.slide {
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 15rem;
  position: fixed;
  background-color: #292929;
  color: #000;
  transform: translateX(-250px);
  transition: transform 0.5s ease;
  z-index: 998;
  padding-top: 80px;
  border-top: #fff;
}

.slide h1,
.slide h3,
.slide li {
  margin: 10px 0;
  color: #fff;
  font-family: sans-serif;
}

.slide ul li {
  list-style-type: none;
}


.slide ul {
  text-align: start;
  padding-right: 6rem;
}

.container-toggle input {
  display: none;
  visibility: hidden;
}

.container-toggle input:checked~.slide {
  transform: translateX(0);
}


.toggle {
  position: fixed;
  height: 2.813rem;
  width: 2.5rem;
  top: 0.938rem;
  left: 1.25rem;
  z-index: 999;
  cursor: pointer;
  border-radius: 2px;
  background-color: red;
}

.toggle.open {
  background-color: #292929;
  color: #fff;
}

.toggle.open i {
  color: #fff;
}

.toggle i {
  color: #fff;
  font-size: 40px;
  text-align: justify;
}

.container-sidebar-woman .link-sidebar {
  gap: 14px;
}

.container-sidebar-man .link-sidebar {
  gap: 10px;
}

.container-sidebar-jewelery .link-sidebar {
  gap: 12px;
}

.container-sidebar-woman,
.container-sidebar-man,
.container-sidebar-jewelery {
  width: 100%;
}

.container-sidebar-woman:hover,
.container-sidebar-man:hover,
.container-sidebar-jewelery:hover {
  background-color: #393939;
  border-bottom: 2px solid #ddd;

}

.container-sidebar-woman i {
  font-size: 20px;
}


.container-sidebar-woman .link-sidebar,
.container-sidebar-man .link-sidebar,
.container-sidebar-jewelery .link-sidebar {
  display: flex;
  align-items: center;
  padding: 10px 6%;
  color: #fff;
  text-decoration: none;
  transition: .2s ease;
}

.container-sidebar-woman .link-sidebar:hover,
.container-sidebar-man .link-sidebar:hover,
.container-sidebar-jewelery .link-sidebar:hover {
  transform: scale(1.05);

}

.container-sidebar-man i {
  font-size: 13px;
}

/* SECTION MAIN */

.main-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 45px 8%;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 101%;
  box-sizing: border-box;

}

.container h1 {
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

.container p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.container .btn-home {
  margin-top: 20px;
  padding: 13px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: .2s;
}

.container .btn-home:hover {
  transform: scale(1.05);
}


.image-boys {
  display: flex;
  width: 55rem;
  height: 55rem;
  background-color: orange;
}


.product-images-container {
  display: flex;
  margin: 50px 20%;
}

.card-scrollImage {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-scrollImage img {
  width: 350px;
  height: 360px;
  object-fit: contain;
}

.card-scrollImage p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  padding-top: 40px;
}


.swiper-button-next,
.swiper-button-prev {
  color: #292929 !important;
}

.swiper-pagination-bullet-active {
  background-color: #292929 !important;
}

.card-scrollImage a img {
  transition: .3s;
}

.card-scrollImage a img:hover {
  transform: scale(1.05);
}

/* SECTION CONTAINER-CLOTHES */

.container-store {
  display: flex;
  padding-top: 80px;
}


.container-clothes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 5%;
  /* margin-left: 20rem; */

}

.flex {
  flex: 1;
  margin: 5% 5%;
}

.card-content {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 5%;
  gap: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-container {
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.image-container img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  position: relative;
  transition: .3s;
  /* Ou object-fit: cover; dependendo do comportamento desejado */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.overlay p {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay i {
  font-size: 30px;
  color: white;
}


.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.text-price {
  font-family: "Roboto", sans-serif;
}

.card-content button {
  background-color: #292929;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}

.card-content button:hover {
  transform: scale(1.01);
  background-color: #393939;
}

/* SECTION PRODUCT DETAILS */

.productDetails-container {
  display: flex;
  justify-content: center;
  padding: 250px 18%;
  gap: 80px;
}

.product-image img {
  width: 260px;
}

.product-info h1,
.product-info p {
  padding: 10px 0;
}

.product-info p {
  font-size: 14px;
}

.product-info .price-product {
  font-size: 18px;
  font-weight: bold;
}

/* MAIN RESPONSIVE */

@media screen and (max-width: 1650px) {

  /* MAIN CONTAINER RESPONSIVE */
  .main-container {
    margin-top: 150px;
  }

  .container h1 {
    font-size: 30px;
  }

  .container p {
    font-size: 17px;
  }
}

@media screen and (max-width: 1586px) {

  /* ITEM-DETAILS RESPONSIVE*/
  .productDetails-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 5%;
    gap: 80px;
  }
}

@media screen and (max-width: 1300px) {

  /* PRODUCTCARD RESPONSIVE */
  .container-clothes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1150px) {

  /* MAIN CONTAINER RESPONSIVE */
  .main-container {
    margin-top: 150px;
    flex-direction: column-reverse;
  }

  .container h1 {
    font-size: 30px;
  }

  .container p {
    font-size: 17px;
  }

  .product-item img {
    width: 250px;
    height: 250px;
    object-fit: contain;
  }


}

@media screen and (max-width: 1130px) {
  /* ITEM-DETAILS RESPONSIVE*/

  .productDetails-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 5%;
    gap: 80px;
  }

  .product-info h1 {
    font-size: 18px;
  }

  .product-info p {
    font-size: 13px;
  }

}


@media screen and (max-width: 926px) {

  /* NAV RESPONSIVE */
  nav a {
    display: none;
  }

  /* MAIN CONTAINER RESPONSIVE */
  .main-container {
    margin-top: 150px;
    flex-direction: column-reverse;
  }

  .container h1 {
    font-size: 25px;
  }

  .container p {
    font-size: 15px;
  }

  .container .btn-home {
    font-size: 14px;
    padding: 10px;
  }
}


@media screen and (max-width: 890px) {

  /* NAV RESPONSIVE */
  nav {
    flex-direction: row-reverse;
  }

  nav a {
    display: none;
  }

  /* MAIN CONTAINER RESPONSIVE */
  .main-container {
    margin-top: 150px;
  }

  .container h1 {
    font-size: 25px;
  }

  .container p {
    font-size: 15px;
  }

  .container .btn-home {
    font-size: 14px;
    padding: 10px;
  }

  /* PRODUCT-CARD RESPONSIVE */

  .container-clothes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 795px) {
  .product-images-container {
    display: flex;
  }

  .card-scrollImage {
    display: flex;
  }

  .product-item img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  /* PRODUCT-CARD RESPONSIVE */

  .card-content {
    padding: 10px 5%;
    gap: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .image-container img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: relative;
    transition: .3s;
  }

  /* ITEM-DETAILS RESPONSIVE*/

  .productDetails-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 5%;
    gap: 80px;
  }

  .product-image img {
    width: 210px;
    height: 100%;
  }

  .product-info h1 {
    font-size: 18px;
  }

  .product-info p {
    font-size: 12px;
  }
}

@media screen and (max-width: 638px) {

  /* PRODUCT-DETAILS RESPONSIVE */
  .productDetails-container {
    flex-direction: column;
    padding: 100px 5%;
    gap: 80px;
  }

  .product-image {
    padding-top: 38px;
  }
}

@media screen and (max-width: 560px) {

  .product-images-container {
    margin: 0px 0px;
  }

  .product-item img {
    display: flex;
    width: 180px;
    height: 180px;
    object-fit: contain;
  }

  .card-scrollImage p {
    font-size: 14px;
  }

  /*PRODUCT-CARD RESPONSIVE */

  .container-clothes {
    grid-template-columns: repeat(1, 1fr);
  }

}


@media screen and (max-width: 390px) {

  /* NAV RESPONSIVE */
  nav {
    flex-direction: row-reverse;
  }

  nav .logo-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  nav .logo-type h1 {
    font-size: 20px;
  }

  /* MAIN CONTAINER RESPONSIVE */
  .main-container {
    margin-top: 150px;
    flex-direction: column-reverse;
  }

  .container h1 {
    font-size: 20px;
  }

  .container p {
    font-size: 13px;
  }

  .container .btn-home {
    font-size: 13px;
    padding: 7px;
  }

  /* PRODUCT-DETAILS RESPONSIVE */
  .product-image img {
    width: 200px;
  }

}