* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SECTION HEADER */

nav {
  background-color: #292929;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 21px;

}

nav .nav-links {
  display: flex;
  justify-content: end;
  gap: 20px;
}


nav a {
  color: antiquewhite;
  text-decoration: none;
  transition: .2s;
}

nav a:hover {
  transform: scale(1.1);
  font-size: 22;
}

/* SECTION MAIN */

body,
html {
  width: 100%;
  height: 100%;
  /* background-color: antiquewhite; */
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px 8%;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 101%;
  box-sizing: border-box;
}

.container h1 {
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

.container p {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.container .btn-home {
  margin-top: 20px;
  padding: 13px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: .2s;
}

.container .btn-home:hover {
  transform: scale(1.05);
}

/* SECTION CONTAINER-CLOTHES */


.container-clothes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px 5%;
}

.flex {
  flex: 1;
  margin: 10px;
}

.card-content {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  /* Crie um boxshadow para as bordas do card*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 100px 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Garante que todos os cards tenham a mesma altura */
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: contain;

  /* Ou object-fit: cover; dependendo do comportamento desejado */
}

.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}