@import '@fortawesome/fontawesome-free/css/all.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SECTION HEADER */

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}


nav {
  width: 100%;
  background-color: #292929;
  padding: 1.25rem 8%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.313rem;
}

nav .nav-links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

nav i {
  font-size: 2rem;
}

nav a,
nav .logo-type {
  color: #fff;
  text-decoration: none;
  transition: .2s;
}

nav a:hover,
nav .logo-type:hover {
  transform: scale(1.1);
  font-size: 1.375rem;
  text-decoration: underline;
}

nav .nav-links {
  position: relative;
  display: inline-block;
  transition: .2s;
}

nav .nav-links:hover {
  transform: scale(1.05);
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: green;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

form {
  display: flex;
  align-items: center;
}

.inputSelect {
  width: 600px;
  font-size: 12px;
  border: none;
}


.search-container button {
  background-color: transparent;
  color: #ddd;
  border: 1px solid #ddd;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  padding: 3px 4%;
  background-color: #292929;
  transition: .2s ease;
}

.search-container button:hover {
  transform: scale(1.05);
}

.search-container i {
  font-size: 22px;
}

.container-option {
  display: flex;
  align-items: center;
}

.container-option img {
  width: 30px;
  margin: 5px 4%;
  cursor: pointer;
}



/* BTN-COMPONENT */

.btn-component {
  margin-top: 1.25rem;
  padding: 0.813rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0.313rem;
  font-size: 0.938rem;
  cursor: pointer;
  transition: .2s;
}

.btn-component:hover {
  background-color: #393939;
  transform: scale(1.01);
}

.logo-type {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

/* SIDEBAR-MENU */
.container-toggle {
  display: flex;
}

.slide {
  top: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 15rem;
  position: fixed;
  background-color: #292929;
  color: #000;
  transform: translateX(-15.625rem);
  transition: transform 0.5s ease;
  z-index: 998;
  padding-top: 5rem;
  border-top: #fff;
}

.slide h1,
.slide h3,
.slide li {
  margin: 0.625rem 0;
  color: #fff;
  font-family: sans-serif;
}

.slide ul li {
  list-style-type: none;
}

.slide ul {
  text-align: start;
  padding-right: 6rem;
}

.container-toggle input {
  display: none;
  visibility: hidden;
}

.container-toggle input:checked~.slide {
  transform: translateX(0);
}

.toggle {
  position: fixed;
  height: 2.813rem;
  width: 2.5rem;
  top: 0.938rem;
  left: 1.25rem;
  z-index: 999;
  cursor: pointer;
  border-radius: 0.125rem;
  background-color: #292929;
}

.toggle.open {
  background-color: #292929;
  color: #fff;
}

.toggle.open i {
  color: #fff;
}

.toggle i {
  color: #fff;
  font-size: 2.5rem;
  text-align: justify;
}

.slide h1 {
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  padding: 0px 3.6rem;
}

.container-sidebar-woman .link-sidebar {
  gap: 0.875rem;
}

.container-sidebar-man .link-sidebar {
  gap: 0.625rem;
}

.container-sidebar-jewelery .link-sidebar {
  gap: 0.75rem;
}

.container-sidebar-products .link-sidebar {
  gap: 0.75rem;
}

.container-sidebar-woman,
.container-sidebar-man,
.container-sidebar-jewelery,
.container-sidebar-products {
  width: 100%;
}

.container-sidebar-cart {
  width: 80%;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 2rem;
}

.container-sidebar-woman:hover,
.container-sidebar-man:hover,
.container-sidebar-jewelery:hover,
.container-sidebar-products:hover,
.container-sidebar-cart:hover {
  background-color: #393939;
  border-bottom: 0.125rem solid #ddd;

}

.container-sidebar-woman i {
  font-size: 1.25rem;
}

.container-sidebar-woman .link-sidebar,
.container-sidebar-man .link-sidebar,
.container-sidebar-jewelery .link-sidebar,
.container-sidebar-products .link-sidebar {
  display: flex;
  align-items: center;
  padding: 0.625rem 6%;
  color: #fff;
  text-decoration: none;
  transition: .2s ease;
}

.container-sidebar-cart .link-sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.625rem 6%;
  color: #fff;
  text-decoration: none;
  transition: .2s ease;
}

.container-sidebar-woman .link-sidebar:hover,
.container-sidebar-man .link-sidebar:hover,
.container-sidebar-jewelery .link-sidebar:hover,
.container-sidebar-products .link-sidebar:hover,
.container-sidebar-cart .link-sidebar:hover {
  transform: scale(1.05);
}

.container-sidebar-man i {
  font-size: 0.813rem;
}

.container-sidebar-cart i {
  font-size: 2rem;
}



/* SECTION MAIN */

.main-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 2.813rem 8%;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 101%;
  box-sizing: border-box;
}

.container h1 {
  margin: 20px auto;
  font-size: 50px;
}

.container p {
  text-align: center;
  font-size: 20px;
}

.container .btn-home {
  margin-top: 20px;
  padding: 13px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: .2s;
}

.container .btn-home:hover {
  transform: scale(1.05);
}


.image-boys {
  display: flex;
  width: 55rem;
  height: 55rem;
  background-color: orange;
}


.product-images-container {
  display: flex;
  margin: 50px 20%;
}

.card-scrollImage {
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-scrollImage img {
  width: 21.875rem;
  height: 22.5rem;
  object-fit: contain;
}


.card-scrollImage p {
  text-align: center;
  font-size: 19px;
  padding-top: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #292929 !important;
}

.swiper-pagination-bullet-active {
  background-color: #292929 !important;
}

.card-scrollImage a img {
  transition: .3s;
}

.card-scrollImage a img:hover {
  transform: scale(1.05);
}

/* SECTION CONTAINER-CLOTHES */

.container-store {
  display: flex;
  padding-top: 80px;
}

.container-clothes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 5%;
  /* margin-left: 20rem; */
}

.flex {
  flex: 1;
  margin: 5% 5%;
}

.card-content {
  border: 0.063rem solid #ddd;
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem 5%;
  gap: 1.25rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-container {
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}


.image-container img {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: contain;
  position: relative;
  transition: .3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.overlay p {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay i {
  font-size: 1.875rem;
  color: white;
}

.text-title {
  font-weight: bold;
}

.text-price span {
  font-size: 13px;
  font-weight: bold;
  color: #B0E57C;
  text-decoration: underline;
  padding: 10px;
}

.card-content button {
  background-color: #292929;
  color: #fff;
  padding: 0.938rem;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
  transition: .2s;
}

.card-content button:hover {
  transform: scale(1.01);
  background-color: #393939;
}

/* SECTION PRODUCT DETAILS */

.productDetails-container {
  display: flex;
  justify-content: center;
  padding: 250px 18%;
  gap: 80px;
}

.product-image img {
  width: 260px;
}

.product-info h1,
.description-product {
  padding: 10px 0;
}

.description-product {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.product-info p {
  font-size: 14px;
}

.product-info .old-price {
  font-size: 14px;
  text-decoration: line-through;
}

.product-info .price-product {
  font-size: 18px;
  font-weight: bold;
}

.price-product span {
  font-size: 13px;
  font-weight: bold;
  color: #B0E57C;
}

.price-installments span {
  font-weight: bold;
}

.freight {
  display: flex;
  background-color: #B0E57C;
  border-radius: 5px;
  max-width: 15%;
  padding: 5px;
  gap: 5px;
}

/* SECTION CART */

.main-cart {
  margin-top: 10rem;
}

.main-table {
  padding: 0px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Ocupa 100% da altura da tela */
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.icon-container i {
  font-size: 3rem;
  color: #292929;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ecommerce-table {
  padding: 20px 0;
  width: 80%;
  border-spacing: 0;
}

.ecommerce-table th {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.ecommerce-table td {
  border-bottom: 1px solid #ddd;
  padding: 18px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.ecommerce-table tr img {
  width: 90px;
  height: 90px;
}

.td-img-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ecommerce-table th {
  background-color: #fff;
}

.ecommerce-table tbody tr:nth-child(even) {
  background-color: #fff;
}


.cart-quantity .btn-more,
.cart-quantity .btn-less {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  padding: 0 5%;
}

.cart-quantity .btn-more:hover,
.cart-quantity .btn-less:hover {
  transform: scale(1.05);
  background-color: #ddd;
  color: #393939;
  border-radius: 5px;
}

.cart-quantity span {
  font-size: 18px;
}

.container-total-price {
  display: flex;
  justify-content: end;
  margin-right: 21.3rem;

}

.container-total-price p {
  font-size: 19px;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.container-total-price span {
  color: #6BBE45;

}

/* MAIN RESPONSIVE */

@media screen and (max-width: 1650px) {

  /* MAIN CONTAINER RESPONSIVE */

  .container h1 {
    font-size: 30px;
  }

  .container p {
    font-size: 17px;
  }
}

@media screen and (max-width: 1593px) {
  .freight {
    max-width: 16%;

  }
}

@media screen and (max-width: 1586px) {

  /* ITEM-DETAILS RESPONSIVE*/
  .productDetails-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 5%;
    gap: 80px;
  }

  .freight {
    max-width: 10%;

  }
}

@media screen and (max-width: 1492px) {
  .freight {
    max-width: 15%;

  }
}

@media screen and (max-width: 1300px) {

  /* PRODUCTCARD RESPONSIVE */
  .container-clothes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1150px) {

  /* MAIN CONTAINER RESPONSIVE */
  .main-container {
    flex-direction: column-reverse;
  }

  .container h1 {
    font-size: 30px;
  }

  .container p {
    font-size: 17px;
  }

  .product-item img {
    width: 250px;
    height: 250px;
    object-fit: contain;
  }


}

@media screen and (max-width: 1130px) {
  /* ITEM-DETAILS RESPONSIVE*/

  .productDetails-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 5%;
    gap: 80px;
  }

  .product-info h1 {
    font-size: 18px;
  }

  .product-info p {
    font-size: 13px;
  }

  .freight {
    max-width: 15%;
  }

}

@media screen and (max-width: 1085px) {
  .freight {
    max-width: 20%;
  }
}


@media screen and (max-width: 926px) {

  /* NAV RESPONSIVE */
  nav a {
    display: none;
  }

  /* MAIN CONTAINER RESPONSIVE */
  .main-container {
    flex-direction: column-reverse;
  }

  .container h1 {
    font-size: 25px;
  }

  .container p {
    font-size: 15px;
  }

  .container .btn-home {
    font-size: 14px;
    padding: 10px;
  }

  .freight {
    max-width: 25%;
  }
}

@media screen and (max-width: 890px) {

  /* NAV RESPONSIVE */
  nav {
    flex-direction: row-reverse;
  }

  nav a {
    display: none;
  }

  /* MAIN CONTAINER RESPONSIVE */
  .container h1 {
    font-size: 25px;
  }

  .container p {
    font-size: 15px;
  }

  .container .btn-home {
    font-size: 14px;
    padding: 10px;
  }

  /* PRODUCT-CARD RESPONSIVE */

  .container-clothes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 795px) {
  .product-images-container {
    display: flex;
  }

  .card-scrollImage {
    display: flex;
  }

  .product-item img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  /* PRODUCT-CARD RESPONSIVE */

  .card-content {
    padding: 10px 5%;
    gap: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .image-container img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: relative;
    transition: .3s;
  }

  /* ITEM-DETAILS RESPONSIVE*/

  .productDetails-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 5%;
    gap: 80px;
  }

  .product-image img {
    width: 210px;
    height: 100%;
  }

  .product-info h1 {
    font-size: 18px;
  }

  .product-info p {
    font-size: 12px;
  }

}

@media screen and (max-width: 724px) {
  .freight {
    max-width: 30%;
  }

}

@media screen and (max-width: 656px) {
  .freight {
    max-width: 35%;
  }

}

@media screen and (max-width: 638px) {

  /* PRODUCT-DETAILS RESPONSIVE */
  .productDetails-container {
    flex-direction: column;
    padding: 100px 5%;
    gap: 80px;
  }

  .product-image {
    padding-top: 38px;
  }
}

@media screen and (max-width: 560px) {

  .product-images-container {
    margin: 0px 0px;
  }

  .product-item img {
    display: flex;
    width: 180px;
    height: 180px;
    object-fit: contain;
  }

  .card-scrollImage p {
    font-size: 14px;
  }

  /*PRODUCT-CARD RESPONSIVE */

  .container-clothes {
    grid-template-columns: repeat(1, 1fr);
  }

}


@media screen and (max-width: 390px) {

  /* NAV RESPONSIVE */
  nav {
    flex-direction: row-reverse;
  }


  nav .logo-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  nav .logo-type h1 {
    font-size: 20px;
  }

  /* MAIN CONTAINER RESPONSIVE */
  .main-container {
    flex-direction: column-reverse;
  }

  .container h1 {
    font-size: 20px;
  }

  .container p {
    font-size: 13px;
  }

  .container .btn-home {
    font-size: 13px;
    padding: 7px;
  }

  /* PRODUCT-DETAILS RESPONSIVE */
  .product-image img {
    width: 200px;
  }

}